{% extends 'base.html' %} 
{% load static %}

{% block content %} location_list
    <div class="col-md-12">
        <div class="row">
            {% for location in location_list %} 
  <div class="card col-md-2 p-0 mb-3 mt-3">
            <img src="{{ location.local_img.url }}" alt="image" class="img-fluid rounded-start" />
            <div class="card-body text-center">
                <h6 class="card-title"> <a href="{{ location.get_absolute_url }}" class="text-decoration-none">
                {{location.title}}  </a></h5>
            </div>
            <div class="card-body text-center">
            <a href="{{ location.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
           </div>
        </div>
    {% endfor %}    
    </div>                                           
</div>
{% endblock content %} 