{% extends 'base.html' %} 
{% load static %}
{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}
{% block content %}
<h1> 
{{ title }} </h1>
{% if request.user.is_authenticated %}
<a href="view/" class="text-decoration-none"> Редактировать монстра </a>
{% endif %} {{monsters.user}}
    <div class="col-md-12">
        <div class="row">
             {% for item in items %} 
            
            {% comment %} {% for mob in item.monster.all %}
            {{ mob.name}}
            {% endfor %} {% endcomment %}
                <div class="card col-md-3 p-0 mb-3 mt-3">    
                    <div class="card-body text-center">
                        <h5 class="card-title">  <img src="{{ item.item_img.url }}" alt="image" class="img-fluid rounded-start" width="70px" height="110px"/> <br>
                        <a href="/item/{{ item.slug }}/" class="text-decoration-none"> {{ item.name }} </a></h5>
                    </div>
                    <div class="card-body text-center">
                        <a href="/item/{{ item.slug }}/" class="btn btn-primary">Подробнее</a>
                       </div>
                    </div>
            {% endfor %}
        </div>    
        <form action="" method="post">
            {% csrf_token %}
          
            {% if names %}
              {% for name in names %}
                {{ name.name }}<br>
              {% endfor %}
            {% endif %}
          
            {{ form }}
            <!-- <input type="submit" value="Submit"> -->
          </form>
  


    </div>
{% endblock content %} 