








        
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
        </li>
        {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Личный кабинет</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        </li>
        {% endif %}









